@charset "EUC-KR";

/* h1, h2, h3, h4, h5, h6 { font-weight: 600; color: #301c1e; font-family: 'Hind Siliguri', sans-serif; letter-spacing: 1.6px;  } */
a { text-decoration: none; color: #301c1e; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #f25b6a; }
/*------------------------
 Account
--------------------------*/
.account-holder { border: 1px solid #ededed; padding: 15px; width: 700px; margin: 0 auto; margin-top: center;}
.social-btn { margin-bottom: 20px; }
.fb-btn { border: 1px solid #ededed; padding: 7px 18px; display: inline-block; color: #3a549e; font-size: 14px; margin-bottom: 20px; }
.fb-btn-text { padding-left: 8px; font-size: 14px; letter-spacing: 1.6px; color: #301c1e; font-weight: 700; }
.google-btn { border: 1px solid #ededed; padding: 7px 18px; display: inline-block; color: #f04c42; font-size: 14px; margin-left: 10px; }
.google-btn-text { padding-left: 8px; font-size: 14px; letter-spacing: 1.6px; color: #301c1e; font-weight: 700; }
.forgot-password { color: #f25b6a; font-size: 12px; font-weight: 700; display: block; margin-bottom: 16px; }




.btn { font-family: 'Hind Siliguri', sans-serif; font-size: 15px; font-weight: 600; padding: 14px 24px; margin-bottom: 4px; letter-spacing: 2.2px; border-radius: 0px; line-height: 1.6; border: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; word-wrap: break-word; white-space: normal !important; }
.btn-primary { background-color: #f25b6a; color: #fff; }
.btn-primary:hover { background-color: #e14e5c; color: #fff; }


/*----------------------- 
   Form Elements:
-------------------------*/
label { }
.control-label { font-size: 14px; letter-spacing: 1px; color: #301c1e; margin-bottom: 10px; }
.form-control:focus { }
.textarea.form-control { }
.required { }

.form-control { border-radius: 0px; font-size: 16px; font-weight: 500; width: 500px; /* height: 60px; */ padding: 14px; line-height: 1.42857143; background-image:; border: transparent; background-color: #f1f1f1; letter-spacing: 1px; margin-bottom: 10px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); }
.input-group { position: relative; display: table; border-collapse: separate; }
input[type=checkbox], input[type=radio] { margin: 8px 0 0; margin-top: 1px\9; line-height: normal; }
select {color: #aca5a5; width: 527px; /* 원하는 너비설정 */ padding: .8em .5em; /* 여백으로 높이 설정 */ font-family: inherit; /* 폰트 상속 */ background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ border: 1px solid #999; border-radius: 0px; /* iOS 둥근모서리 제거 */ -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

input::-webkit-input-placeholder { color: #595857 !important; }
textarea::-webkit-input-placeholder { color: #595857 !important; }

.form-group{
	width: 500px;
	margin-left: 30px;
	margin-bottom: 10px;
}

.form-top{
	width: 500px;
}
form{
	width: 600px;
	margin: 0 auto;
	
}
img{
	display : block;
	margin: 0 auto;
}

